
ESP8266 Firmware/.DS_Store
*.elf
ESP8266 Firmware/homie/data/.DS_Store
ESP8266 Firmware/homie/.DS_Store
ESP8266 Firmware/builds/.DS_Store
Wemos D1 Mini firmware/builds/wemos-d1-watertank.bin
.DS_Store
.DS_Store
Wemos D1 Mini firmware/builds/wemos-d1-watertank.bin
Wemos D1 Mini firmware/Waterflow meter/builds/wemos-d1-waterflow.bin
