- name: Install packages to be able to use pip in Ansible
  apt:
    name: "{{ item }}"
    state: present
  with_items:
    - python3-pip

- name: Install docker python
  pip:
    name: "{{ item }}"
    state: present
  with_items:
    - docker
    - docker-compose


- include: mosquitto.yml
- include: nodered.yml
