version: '3'
services:
  mosquitto:
    image: "eclipse-mosquitto"

    container_name: mosquitto
    hostname: mosquitto.local

    ports:
     - "1883:1883"
     - "8883:8883"
     - "9001:9001"

    volumes:
     - /etc/localtime:/etc/localtime:ro

    user: root

    restart: unless-stopped

