version: '3'
services:
  node-red:
    container_name: node-red
    image: nodered/node-red-docker:rpi-v8
    hostname: node-red.local

    ports:
     - "1880:1880"

    volumes:
     - data:/data
     - /etc/localtime:/etc/localtime:ro
     - /etc/timezone:/etc/timezone:ro
    cap_add:
     - NET_ADMIN

    restart: unless-stopped

volumes:
  data:
