{
  "wifi":{
    "ssid":"<Your SSID>",
    "password": "<Password>"
    },
  "mqtt":{
    "host":"<Your MQTT Server",
    "port":1883,
    "base_topic":"devices/",
    "username": "<mqtt username>",
    "password": "<mqtt password>",
    "auth":true
  },
  "name":"Sensor x",
  "ota":{
    "enabled":true
    },
  "device_id":"wemos-x"
}
